@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box
}

html {
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  height: 5px;
  width: 8px;
  background:  rgb(30 58 138);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f87537 0%, #fba81f 100%);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: linear-gradient(180deg, #f87537 0%, #fba81f 100%);
  /* background: var(--background); */
}

@layer utilities {
  .pause-animation {
    animation-play-state: paused;
  }
}
